<!-- src/views/partials/headers.ejs -->
<header class="raf-header">
    <nav class="raf-header-nav">
        <a class="raf-btn raf-btn--hamburger raf-header-nav__btn"><span class="raf-btn--hamburger-icon"></span></a>
        <a class="raf-text-link-blue" href="<%= routes.landing.path %>">RT</a>
        <div class="raf-header-nav__links-list">
            <a class="raf-text-link-blue" href="<%= routes.landing.path %>">RT</a>
            <h3 class="raf-header-nav__link"><a class="raf-text raf-nav-underlined">works</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="<%= routes.nds.path %>">NDS</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="<%= routes.zuru.path %>">Zuru</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link" href="<%= routes.starWars.path %>">Planets</a></h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link raf-text-link-icon" href="https://www.behance.net/gallery/45993887/Madden-Coach-Glass" target="_blank">
              Coach Glass</a>
            </h3>
            <h3 class="raf-header-nav__link"><a class="raf-text-link raf-text-link-icon" href="https://www.behance.net/gallery/45998905/Battlefield-Hardline" target="_blank">
              Hardline</a>
            </h3>
            <h6><a class="raf-text-link nav-bottom" href="mailto:hello@rafaeltan.com">hello@rafaeltan.com</a></h6>
        </div>
    </nav>
</header>

<!-- <aside>
    <nav id="raf-sub-nav" class="raf-sub-nav">
        <template id="raf-sub-nav__item--template">
            <a href="#" class="raf-sub-nav__item"></a>
        </template>
    </nav>
</aside> -->
